<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaolei.sql.mapper.SysFileRecMapper">
    <insert id="addSysFileRec" parameterType="com.gaolei.sql.pojo.SysFileRec">
        insert into `ecosphere_system`.`sys_file_rec` s
        (s.`file_id`,
        s.`file_path`,
        s.`file_exname`)
        values (#{sysFileRec.file_id},
        #{sysFileRec.file_path},
        #{sysFileRec.file_exname});
    </insert>
</mapper>